#sendEstimate {
  -moz-appearance:none;
  -webkit-appearance:none;
  outline: none;
  content: none;

  &:before {
    content: "\f00c";
    font-size: 15px;
    color: transparent !important;
    background: white;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #8F8F98;
    border-radius: 7px;
  }
}