#container-result {
  width: 1200px;
  margin: 30px auto;

  & section:first-child div {
    flex-wrap: wrap;
  }
}

.custom-radio {

  input {
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    content: none;
    position: absolute;

    &:checked + label {
      border-color: #010038;
      background-color: #F8FAFF;
    }
  }

  label {
    width: 160px;
    height: 60px;
  }
}

#resultPrice {
  background-color: #FFFAEF;
  width: 370px;
}

@media screen and (max-width: 1200px) {
  #container-result {
    width: auto;
  }
}

@media screen and (max-width: 1090px) {
  #container-result {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 10px !important;

    & section:first-child {
      width: 320px;

      div {
        justify-content: center;
        > div {
          margin-bottom: 15px;
        }
      }
    }
  }

  & section:last-child {
    padding: 10px 0;
    margin-top: 30px;
    margin-left: 0;
  }
}