#searchRegistration {
  width: 247px;
}

.card-logo {
  background-color: #F8FAFF;
  height: 125px;
}

.nextButton {
  min-width: 170px;
  height: 60px;
}

@media screen and (max-width: 575px) {
  #logoList {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}