#searchRegistration {
  width: 247px;
}

#logoList {
  flex-wrap: wrap;
}

.card-logo {
  width: 23%;

  input {
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    content: none;
    position: absolute;

    &:checked + label {
      border: 3px solid #010038;
      background-color: #F8FAFF;
    }
  }

  label {
    background-color: #F8FAFF;
    border: 3px solid #F8FAFF;
    height: 125px;
  }

}

.nextButton {
  min-width: 170px;
  height: 60px;
}

@media screen and (max-width: 575px) {
  .card-logo {
    width: 46%;
  }
}